.list{
    color: #fff;
    width: 300px;
    background: #272636;
    /* background:linear-gradient(to top right, #525255, #15151d);  */
    height: 50px;
    margin: 20px auto;
    border-radius: 5px;
}

.list p{
    padding: 10px;
    position: relative;
}

.list p span{
    position: absolute;
    right: 10px;
    cursor: pointer;
}

.list p input{
    background-color: transparent;
    border: 0;
    color: #fff;
    font-size: 18px;

}
.list p input:focus{
    outline: none;
}

#delete{
    padding: 5px 15px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bolder;
    border: 'none';
    color: white;
    background-color: #6F6FC8;
}