.login-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     
}
.login-form {
        background-color: #201E2C;
        width: 400px;
        height: 400px;
        margin-top: 40px;
        
        border-radius: 1.5em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
    }
    
  .login{
       
        padding-top: 40px;
        padding-bottom: 2em;
        color: #6F6FC8;
        font-family: 'Ubuntu', sans-serif;
        font-weight: bold;
        font-size: 23px;
        /* text-align: center; */
    }
    
    .unn {
    width: 76%;
    color: rgba(111,111,200,0.9);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: #272636;
    /* background: rgba(213, 172, 240, 0.1); */
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(111,111,200,0.28);
    margin-bottom: 50px;
    margin-left: 46px;
    text-align: center;
    /* margin-bottom: 27px; */
    font-family: 'Ubuntu', sans-serif;
    }
    
    form.form1 {
        padding-top: 40px;
    }
    
    .passw {
            width: 76%;
    color: rgba(111,111,200,0.9);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: #272636;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(111,111,200,0.28);
    margin-bottom: 50px;
    margin-left: 46px;
    text-align: center;
    margin-bottom: 27px;
    font-family: 'Ubuntu', sans-serif;
    }
    
   
    .unn:focus, .passw:focus {
        border: 2px solid rgba(111,111,200, 0.90) !important;
        
    }
    
    .submit{
      cursor: pointer;
        border-radius: 5em;
        color: #fff;
        font-weight: bold;
        background: #6F6FC8;
        border: 0;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 10px;
        margin-top: 40px;
        margin-bottom: 40px;
        padding-top: 10px;
        font-family: inherit;
        font-size: 16px;
        box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
    }