

.app{
  background-color: #201E2C;
  min-height: 500px;
  width: 400px;
  margin: 40px auto;
  border-radius: 1em;
}

#to-do input{
  background-color: #3A3A4C;
  border: 0;
  width: 200px;
  height: 50px;
  padding: 0 20px;
  margin: 20px;
  font-size: 18px;
  border-radius: 10px;
  color: white;
}

#to-do input::placeholder{
  color: rgba(255,255,255,0.5);
}

#to-do input:focus{
  outline: none;
}
